<div class="navigation">
    <div class="logo">
       <a class="no-underline" href="#">
       Instagram    
       </a>
    </div>
    <div class="navigation-search-container">
       <i class="fa fa-search"></i>
       <input class="search-field" type="text" placeholder="Search">
       <div class="search-container">
          <div class="search-container-box">
             <div class="search-results">
             </div>
          </div>
       </div>
    </div>
    <div class="navigation-icons">
       <a href="https://instagram.com/lp05042001" target ="_blank" class="navigation-link">
       <i class="far fa-compass"></i>
       </a>
       <a class="navigation-link notifica">
          <i class="far fa-heart">
             <div class="notification-bubble-wrapper">
                <div class="notification-bubble">
                   <span class="notification-count">99</span>
                </div>
             </div>
          </i>
       </a>
       <a href="https://instagram.com/lp05042001" class="navigation-link">
       <i class="far fa-user-circle"></i>
       </a>
       <a href="https://instagram.com/lp05042001" id="signout" class="navigation-link">
       <i class="fas fa-sign-out-alt"></i>
       </a>
    </div>
 </div>
 <main>
    <div>
        <div class="profile-container">
            <div class="profile-header">
                <div class="profile-image">
                    <img src="../../../assets/perfil/peraza.jpeg" alt="Profile Image">
                </div>
                <div class="profile-details">
                    <div class="profile-username">
                        <h1>Luis Peraza</h1>
                        <button class="edit-profile-button mr-3 br-2 rounded ">Contact Profile</button>
                        <i class="fas fa-cog settings-icon hidde-fa"></i>
                    </div>
                  <div class="row mt-3">
                     <div class="col-3">
                        <p class="text-left stats"><strong>18</strong> posts</p>
                     </div>
                     <div class="col-4">
                        <p class="text-left stats"><strong>3,535</strong> followers</p>
                        
                    </div>
                     <div class="col-5">
                        <p class="text-left stats"><strong>1,055</strong> following</p>
                     </div>
                    <div class="ml-3">
                        <p class="text-left">Soy un programador apasionado y comprometido con la creación de soluciones innovadoras. Me destaco por mi capacidad para resolver problemas de manera eficiente y por mi atención al detalle. 
                           Tengo experiencia en una amplia gama de lenguajes de programación y tecnologías, lo que me permite adaptarme rápidamente a nuevos desafíos y entornos de trabajo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    